/** @format */

.datepicker {
  width: 100%;

  input {
    background: transparent;
    color: var(--font);
  }

  svg {
    stroke: var(--font);
  }

  .react-calendar__month-view__weekdays {
    color: $dark;
  }

  .react-date-picker__wrapper {
    width: 100%;
    border: none;
  }
}

.datepicker__wrapper {
  border: 1px solid;
  border-color: var(--font);
  font-size: 1.2em;
  padding: 4px;

  max-width: 300px;
}
